menu {
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 8px;
    cursor: default;
}

table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, tr, td {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

select{
    width: 210px;
}

.boasVindas {
    text-align: right;
    font-size: 14px;
    padding: 8px;
}